.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}











.select {
  width: 30%;
  margin: auto;
}








body {
  background: #9df9ef;
  /* background-image: url(/public/celebration.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.App {
  text-align: center;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  width: fit-content;
  margin-top: 4rem;
 
}

.block {
  min-height: 100px;
  min-width: 100px;
  height: 100%;
  width: 100%;
  background-color: beige;
  border: 1px solid rgb(151, 151, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  border-radius: 10px;
}

.result {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.message {
  font-size: 20px;
  font-weight: 400;
}

button{
  padding: 12px 45px;
  border-radius: 10px;
  border: none;
  background: cornflowerblue;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

